#picture {
  background-image: url("http://f.tqn.com/y/latinamericanhistory/1/L/l/9/-/-/BB1.jpg");
  height:100vh;
}

.css_piratestring {
  height: 15vh;
  width: 75vw;
  background-color: #666;
  opacity: 0.9;
  border-radius: 5px;
  padding: 2vh 3vw 2vh 3vw;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 1.7rem;
  color:white;
  text-align: center;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.loading {
  display: none;
  text-align: center;
  padding-top: 16rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  color: white;
}

.loading-text {
  font-size: 1.5rem;
  color:white;
}


@media (min-width: 600px) {

  .css_piratestring {
    height: 10vh;
    width: 40vw;
    font-size: 1.8rem;
  }

}

@media (min-width: 1000px) {

  .css_piratestring {
    height: 15vh;
    width: 30vw;
    font-size: 1.6rem;
    padding-top: 5vh;
  }

}
